body {
    height: 100vh;
    margin: 0;
}

#main {
    -webkit-box-shadow: inset 0 0 2.5em #595959;
    -moz-box-shadow: inset 0 0 2.5em #595959;
    box-shadow: inset 0 0 2.5em #595959;
}

.gradient{
    background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.20));
}

img {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

div {
    font-family: sans-serif;
}